In [1]:
# create a variable and assign an integer value
x = 5

In [2]:
print(x)

5

In [3]:
# 123name = "Tom"      # ‚ùå Starts with a number
# user-name = "Sam"    # ‚ùå Hyphen is not allowed
# total amount = 200   # ‚ùå Space is not allowed
# class = "Math"       # ‚ùå `class` is a reserved keyword
# @value = 10          # ‚ùå @ symbol is not allowed

In [4]:
print = 10

In [5]:
del print
print("Data")

Data

In [9]:
#@ symbol is not allowed
@value =10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2098729616.py, line 2)

In [7]:
# valid variables in python

# name = "John"
# _age = 25
# user123 = "Alice"
# total_amount = 100.5
# AddressLine1 = "Street 9"
GENDER = "Male"
gender = "Female"

In [ ]:
gender

'Female'

In [ ]:
type(_age)

In [ ]:
gender

'Female'

In [ ]:
print = 5

In [ ]:
print("Hello")

In [ ]:
# Creating a variable and assigning a value
x = 5

# Creating a variable and assigning a string value
name = "Alice"

# Creating a variable and assigning a float value
price = 19.99

# Creating a variable and assigning a list value
my_list = [1, 2, 3]

In [ ]:
type(name)

str

# Type()  -  Returns the type of the object passed to it.

In [ ]:
print(x)
type(x) # type of the variable

5

int

## Example of Numeric data type

In [ ]:
x = 10
print(type(x))  # Output: <class 'int'>

<class 'int'>

In [ ]:
y = 3.14
print(type(y))  # Output: <class 'float'>

<class 'float'>

In [ ]:
z = 2 + 3j
print(type(z))  # Output: <class 'complex'>

<class 'complex'>

## Example of String data type

In [ ]:
text = "Hello, world!"
print(type(text))  # Output: <class 'str'>

<class 'str'>

## Example of Boolean data type(True and False)

In [ ]:
is_true = True
print(type(is_true))  # Output: <class 'bool'> # bool type includes True and False

<class 'bool'>

## Example of None Data Type

In [ ]:
x = None
print(type(x))  # Output: <class 'NoneType'>

<class 'NoneType'>

# Python Type Casting Examples

Type casting in Python means converting one data type into another.

In [ ]:
x = 2.3
y = int(x)
print(y)
print(type(x))
print(type(y))

2
<class 'float'>
<class 'int'>

In [ ]:
#  int() ‚Äì Convert to integer
x = int(3.7)      # 3
y = int("10")     # 10

print(x)
print(y)
print(type(x))
print(type(y))

3
10
<class 'int'>
<class 'int'>

In [ ]:
# float() ‚Äì Convert to float
x = float(5)      # 5.0
y = float("2.3")  # 2.3
z = float('2')
print(z)
print(type(z))
print(x)
print(y)
print(type(x))
print(type(y))

2.0
<class 'float'>
5.0
2.3
<class 'float'>
<class 'float'>

In [ ]:
# str() ‚Äì Convert to string
x = str(25)       # "25"
y = str(3.14)     # "3.14"
print(x)
print(y)
type(x)

25
3.14

str

In [ ]:
# bool() ‚Äì Convert to boolean
bool(0)           # False
# bool(1)           # True
bool("")          # False
# bool("Hello")   # True
bool(" ")     # True

True

In [ ]:
# int(), float(), string() type conversion to complex

x= complex(5)           # (5+0j)
y =complex(2.5)         # (2.5+0j)
z =complex("3+4j")      # (3+4j)
type(z)

complex

Note üòé : Non-numeric strings cannot be type cast to int, float, or complex in Python.
Attempting to do so will raise a ValueError.

## Example of type casting that raises an error

In [10]:
x = "data"
y =int(x)

ValueError: invalid literal for int() with base 10: 'data'

In [ ]:
# x = "data"
# y= int(x)
# print(type(y))

# #Non-numeric string to int or float
# int("hello")      # ‚ùå ValueError
# float("abc")      # ‚ùå ValueError

#String with decimal to int
int("10.5")       # ‚ùå ValueError ‚Üí must convert to float first, then int

# #Complex to int or float
# int(3+4j)         # ‚ùå TypeError
# float(2+0j)       # ‚ùå TypeError

# #List/Dict to int or floatList/Dict to int or float
# int([1, 2, 3])    # ‚ùå TypeError
# float({'a': 1})   # ‚ùå TypeError

# #String to list/dict with wrong format
# list("123")       # ‚úÖ ['1', '2', '3']
# list("abc")       # ‚úÖ ['a', 'b', 'c']
# dict("abc")       # ‚ùå TypeError ‚Äì needs key-value pairs

ValueError: invalid literal for int() with base 10: '10.5'

In [13]:
print = 6 # rule : never use keywords/ special characters as a variable name

In [11]:
print

In [14]:
del print

In [15]:
print("Hello")

Hello