By Apoorva Khare

# Day 12 Dictionary and Dictionary Function

Python dictionary is an ordered collection (starting from Python 3.7) of items.
Each item of a dictionary has a key/value pair. Dictionaries are optimized to retrieve values when the key
is known.The keys of the dictionary are hashable i.e. the are generated by hashing function, key values themselves become the index of the array which stores the data.

Example:

Dict = {1: 'apple', 2: 'banana', 3: 'cherry'}

## Creating a Dictionary
* In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’.
* Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.
* keys within dictonary must be unique
* Keys must be of an immutable data type such as strings, numbers, or tuples
* Values in a dictionary can be of any data type
* Dictionary keys are case-sensitive, meaning that 'Key' and 'key' are considered distinct keys.

In [ ]:
d = {1:1, 2:4, 3:9, 4:16, 5:25}
type(d)

dict

In [ ]:
d[3]

9

In [ ]:

# Accessing the value
d[5]

25

In [ ]:
# using curly braces
my_dict = {'name': 'Alice', 'age': 30, 'city':'Newyork'}

#using the dict()
my_dict1 = dict(name = 'Bob', age = 25, city ='London')

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'Newyork'}

In [ ]:
my_dict1

{'name': 'Bob', 'age': 25, 'city': 'London'}

## Accessing values:

can access values associated with the keys using [ ] (square brackets)

In [ ]:
print(my_dict['name'])
print(my_dict['city'])

Alice
Newyork

## Adding and Modifying values

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'Newyork'}

In [ ]:
my_dict['country'] = 'USA'  # added new key 'country  and its values is 'USA

In [ ]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'Newyork', 'country': 'USA'}

In [ ]:
my_dict['age'] = 31   # modified existing value i.e 30

In [ ]:
my_dict

{'name': 'Alice', 'age': 31, 'city': 'Newyork', 'country': 'USA'}

## Removing values

In [ ]:
del my_dict['city']

In [ ]:
my_dict

{'name': 'Alice', 'age': 31, 'country': 'USA'}

In [ ]:
# remove and return value
my_dict.pop('age')

31

In [ ]:
my_dict

{'name': 'Alice', 'country': 'USA'}

## Iteration through Dictionary

In [ ]:
d = {'Neeraj':'Javelinthrow', 'Dhoni':'Cricket','PV Sindhu':'Badmintion','Mary Kom':'Boxing'}

print(f'The keys are: {d.keys()}')
print(f'The values are: {d.values()}')

The keys are: dict_keys(['Neeraj', 'Dhoni', 'PV Sindhu', 'Mary Kom'])
The values are: dict_values(['Javelinthrow', 'Cricket', 'Badmintion', 'Boxing'])

In [ ]:
for i in d:     # iterate through keys
    print(i)   # by default it is accessing keys

Neeraj
Dhoni
PV Sindhu
Mary Kom

In [ ]:
for i in d.values(): # iterate through values
    print(i)

Javelinthrow
Cricket
Badmintion
Boxing

In [ ]:
d.items()   # return the key and values as a list of tuples

dict_items([('Neeraj', 'Javelinthrow'), ('Dhoni', 'Cricket'), ('PV Sindhu', 'Badmintion'), ('Mary Kom', 'Boxing')])

In [ ]:
for key,value in d.items():
    print(key, value)

Neeraj Javelinthrow
Dhoni Cricket
PV Sindhu Badmintion
Mary Kom Boxing

In [ ]:
dict_2 = d.copy()
dict_2

{'Neeraj': 'Javelinthrow',
 'Dhoni': 'Cricket',
 'PV Sindhu': 'Badmintion',
 'Mary Kom': 'Boxing'}

## Dictionary Methods

* clear() – Remove all the elements from the dictionary
* copy() – Returns a copy of the dictionary
* get(key, default) – Returns the value of specified key
* items() – Returns a list containing a tuple for each key value pair
* keys() – Returns a list containing dictionary’s keys
* pop() – Remove the element with specified key
* popitem() – Removes the last inserted key-value pair
* update() – Updates dictionary with specified key-value pairs
* values() – Returns a list of all the values of

In [ ]:
d

{'Neeraj': 'Javelinthrow',
 'Dhoni': 'Cricket',
 'PV Sindhu': 'Badmintion',
 'Mary Kom': 'Boxing'}

In [ ]:
d['apoorva']

KeyError: 'apoorva'

In [ ]:
d.get('Neeraj') #.get(key,default)

'Javelinthrow'

In [ ]:
d.get('Apoorva','the value does not exist')
#d.get('Apoorva')

# sometimes we use it because we dont want python to throw an error
#if anything doesn't exist can give spaces also or can leave without default value as well

'the value does not exist'

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d.update({'d': 4})        # Adds new key 'd'
d.update({'a': 10})       # Updates existing key 'a'
print(d)  # {'a': 10, 'b': 2, 'c': 3, 'd': 4}

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# popitem() removes the last inserted key-value pair from the dictionary..
item = d.popitem()
print(item)  # ('d', 4)
print(d)     # {'a': 10, 'b': 2, 'c': 3}

('d', 4)
{'a': 10, 'b': 2, 'c': 3}

In [ ]:
# clear()
d.clear()
print(d)  # {}

{}

## Nested Dictionary
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
myfamily

In [ ]:
# Access item in the nested dictionary
print(myfamily["child2"]["name"])
print(myfamily['child3']['year'])

Tobias
2011

In [ ]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# loop through nested Dictionary

for x, obj in myfamily.items():   # x -- child1, child2, child3 # obj --- {"name": "Emil", "year": 2004}
    print(x)

    for y in obj:                 # y -- name, year
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

# something new

In [ ]:
import requests # permission to fetch data

In [ ]:
api_key = "0ddbf6f3260fb6d5bb45342aef86434e"
city = 'Jabalpur'

url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric'
response = requests.get(url)
response.raise_for_status() # Raise an exception for erro statsus code
data = response.json()

In [ ]:
response

In [ ]:
data

{'coord': {'lon': 79.9501, 'lat': 23.167},
 'weather': [{'id': 721,
   'main': 'Haze',
   'description': 'haze',
   'icon': '50d'}],
 'base': 'stations',
 'main': {'temp': 27.47,
  'feels_like': 31.97,
  'temp_min': 27.47,
  'temp_max': 27.47,
  'pressure': 1010,
  'humidity': 89,
  'sea_level': 1010,
  'grnd_level': 963},
 'visibility': 5000,
 'wind': {'speed': 1.03, 'deg': 320},
 'clouds': {'all': 40},
 'dt': 1757483204,
 'sys': {'type': 1,
  'id': 9066,
  'country': 'IN',
  'sunrise': 1757463917,
  'sunset': 1757508573},
 'timezone': 19800,
 'id': 1269633,
 'name': 'Jabalpur',
 'cod': 200}

In [ ]:
type(data)

dict

In [ ]:
data.keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [ ]:
data.values()

dict_values([{'lon': 79.9501, 'lat': 23.167}, [{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}], 'stations', {'temp': 27.47, 'feels_like': 31.97, 'temp_min': 27.47, 'temp_max': 27.47, 'pressure': 1010, 'humidity': 89, 'sea_level': 1010, 'grnd_level': 963}, 5000, {'speed': 1.03, 'deg': 320}, {'all': 40}, 1757483204, {'type': 1, 'id': 9066, 'country': 'IN', 'sunrise': 1757463917, 'sunset': 1757508573}, 19800, 1269633, 'Jabalpur', 200])

In [ ]:
data['clouds']

{'all': 40}

In [ ]:
data['coord']['lon']

79.9501

In [ ]:
data['weather']

[{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}]

In [ ]:
data['weather'][0]['description']

'haze'

In [ ]:
data['weather'][0]['id']

721

In [ ]:
data['weather'][0]['main']

'Haze'

In [ ]:
data['main']['temp']

27.47

In [ ]:
data['weather'][0]['main']

'Haze'

In [ ]:
data['weather'][0]['description']

'haze'

In [ ]:
data['sys']

{'type': 1,
 'id': 9066,
 'country': 'IN',
 'sunrise': 1757463917,
 'sunset': 1757508573}

In [ ]:

data['sys']['sunrise']

1757463917

In [ ]:
data['wind']['speed']

1.03

In [ ]:
data['main']['humidity']

89