# Loop
Loops are an essential construct in all programming
languages. In a loop structure, the program first checks for
a condition. If this condition is true, some piece of code
is run. This code will keep on running unless the condition
becomes invalid.

# For Loop
A for loop is used to repeat a block of code for each item in a sequence (like a list, string, or range).

#### Syntax
for i in collection:
    #loop body

Here, collection is a list of objects. The loop variable, i, takes on the value of the next element in collection each time through the loop. The code within loop body keeps on running until i reaches the end of the collection.

In [ ]:
# for loop (iteration--- repeatition)

sample = [1, 2, 3, "ram"]
for samp in sample:
  print(samp)

1
2
3
ram

In [2]:
list1 = []  # empty list
for i in "Python"[::-1]:
  list1.append(i)
print(list1)

['n', 'o', 'h', 't', 'y', 'P']

# Range():

Range is a built-in function that generates a sequence of numbers. It is commonly used in for loops to iterate a specific number of times. The range function can take one, two, or three arguments:
#### Syntax:
range(start, stop, step):

Generates a sequence of numbers starting from start, incrementing by step, and stopping before reaching stop.

In [ ]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [6]:
for i in range(0, 4):
  print(f'cube of {i}',i ** 3)

cube of 0 0
cube of 1 1
cube of 2 8
cube of 3 27

In [8]:
for i in range(1, 4):
  print(f'square of {i}',i ** 2)

square of 1 1
square of 2 4
square of 3 9

In [ ]:
# let us iterate through each tuple element of the list

country_city_river_list = [('India', 'New Delhi', 'Ganga'),('Australia','Canberra','Rovers'), ('Usa', 'Washington DC', 'Missouri')]
for country,city,river in country_city_river_list:
    print(f'The Capital of the Country {country} is {city} and also has the river {river}.')

The Capital of the Country India is New Delhi and also has the river Ganga.
The Capital of the Country Australia is Canberra and also has the river Rovers.
The Capital of the Country Usa is Washington DC and also has the river Missouri.

The f in print(f"...") stands for f-string (formatted string literal), introduced in Python 3.6.

It allows you to embed expressions inside string literals, using curly braces {}.

## Enumerate()
In Python, enumerate() is a built-in function used to loop over an iterable (like a list or tuple) while keeping track of the index of the current item.

* enumerate is used for iterating over a "single sequence" while keeping track of the index, whereas zip is used for combining "multiple sequences" element-wise.

#### syntax :
enumerate(iterable, start=0)
* iterable: The collection you want to loop through.

* start: The starting index (default is 0).

It is commonly used when you need both the item and its position/index in a loop.

In [ ]:
# enumerate
name = ['ram', 'pratik', 'neelam']
for i in enumerate(name, start = 1):
  print(i)

(1, 'ram')
(2, 'pratik')
(3, 'neelam')

In [ ]:
list(enumerate(name))

[(0, 'ram'), (1, 'pratik'), (2, 'neelam')]

In [ ]:
# Use of zip()
names = ['asha', 'abhi', 'ram']
age = [20, 89, 23]
zip(names, age)

In [ ]:
info = list(zip(names, age))
print(info)

[('asha', 20), ('abhi', 89), ('ram', 23)]

## nested for loop

Loop inside a loop

In [ ]:
legends = ['rajni', 'kamal', 'vikram']
movies = ['tamilmovie1', 'tamilmovie2', 'tamilmovie3']

In [ ]:
for x in legends:  # outer for loop
  for y in movies:  # inner for loop
    print(x, y)

rajni tamilmovie1
rajni tamilmovie2
rajni tamilmovie3
kamal tamilmovie1
kamal tamilmovie2
kamal tamilmovie3
vikram tamilmovie1
vikram tamilmovie2
vikram tamilmovie3

In [ ]:
for i in range(1, 4):
  for j in range(1, 4):
    print(f'{i} X {j} = {i * j}')
  print("-------------")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
-------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
-------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
-------------

In [ ]:
colors = ['red', 'blue']
objects = ['car', 'bike']
for color in colors:
  for obj in objects:
    print(color, obj)

red car
red bike
blue car
blue bike

## Today's Tasks    
* 1.Print odd number
* 2.Print(even numer)
* 3.Write a program to take user input and then find whether a number is prime number or not.
* 4.names = ["Azad", "ravi", "samiksha","Kamal"] #take more names
Create a list of atleast 10 names,then print the name of people who have i in their name