# Strings

## String Slicing Examples

In [ ]:
# # String slicing examples
text = "Electronics"
print(text)
# # Basic slices
print("Original text:", text)
print("text[0:5]     :", text[0:5])      # Output: Elect
print("text[2:9:2]   :", text[2:9:2])    # Output: etoi
print("text[-3:]     :", text[-3:])      # Output: ics
print("text[:4]      :", text[:4])       # Output: Elec
print("text[::2]     :", text[::2])      # Output: Eetoinc

Electronics
Original text: Electronics
text[0:5]     : Elect
text[2:9:2]   : etoi
text[-3:]     : ics
text[:4]      : Elec
text[::2]     : Eetois

In [ ]:
# program to reverse a string
text = "datascience"
print(text[::-1])

ecneicsatad

In [ ]:
text = "MaHima"
print(text.upper())
print(text.lower())

# text = " Suman mahima neelam"
# print(text.replace("Suman", "Ajay" ))

MAHIMA
mahima

In [ ]:
# # to upper case/ lower case
text = "hello World"
text1 = "DATA Science"
print(text.upper())  # Output: HELLO WORLD
print(text1.lower())  # Output: hello world

HELLO WORLD
data science

In [ ]:
text = "hello World"
print(text.upper())

HELLO WORLD

In [ ]:
# # to replace text
text = "I like apples"
print(text.replace("apples", "oranges"))  # Output: I like oranges

I like oranges

In [ ]:
text = "I like apples"
print(text.replace("apples", 0))

TypeError: replace() argument 2 must be str, not int

In [ ]:
# # Slicing a string
text = "Python Programming"
print(text[0:6])   # Output: Python (first 6 characters)
print(text[-12:])  # Output: Programming (last 11 characters)

Python
 Programming

# join() - we use join() method to combine a list of strings into a single string with each string separated by a space

#### Syntax :
    separator.join(iterable)
    
###### Parameters:
* separator: The string placed between elements of the iterable.
* iterable: A sequence of strings (e.g., list, tuple etc) to join together.

In [ ]:
# # joining a string
# Syntax - separator.join(iterable)
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)  # Output: Python is fun

Python is fun

In [ ]:
fruits = ['apple', 'banana', 'orange']
result = "-".join(fruits)
print(result)

apple-banana-orange

# split() method splits a string into a list of strings after breaking the given string by the specified separator.

##### Syntax:
    str.split(separator, maxsplit)
    
##### Parameters
* separator: This is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.
* maxsplit: It is a number, that tells us to split the string into a maximum of the provided number of times. If it is not provided then the default is -1 which means there is no limit.

In [ ]:
# # Splitting a string
text = "apple,banana, grape"
fruits = text.split(",")
print(fruits)  # Output: ['apple', 'banana', 'grape']

['apple', 'banana', ' grape']

In [ ]:
data = "name-age-city"
parts = data.split("-")
print(parts)

['name', 'age', 'city']

In [ ]:
data = "name-age-city"
parts = data.split("-", maxsplit = 1) #The string is split at each : and returned as a list of parts.
print(parts)

['name', 'age-city']

In [ ]:
# # searching in a string
text = "Learn Python"

print(text.find("Python"))   # Output: 6 (index where 'Python' starts)

6

In [ ]:
text = "Learn Python"
print("Data" in text)      # Output: True

False

In [2]:
text = "Python is easy"
result = text.split()
print(result)

['Python', 'is', 'easy']

# strip() method in Python removes all leading and trailing whitespace by default.You can also specify a set of characters to remove from both ends. It returns a new string and does not modify the original.

##### Syntax :
    s.strip(chars)
    
##### Parameters:

* chars(optional): A string specifying the set of characters to remove from the beginning and end of the string.
* Return Type: A new string with specified characters removed from both ends.

In [ ]:
# # strip()
text = "  hello  "
print(text)
print(text.strip())  # Output: "hello"

  hello
hello

In [ ]:
# strip()
url = "www.example.com.www"
cleaned = url.strip("w.")  # Removes 'w' and '.' from both ends
print(cleaned)

example.com

In [ ]:
# # len()
text = "hello"
print(len(text))  # Output: 5

5

In [ ]:
# # startswith
text = "python programming"
print(text.startswith("python"))  # Output: True

True