### Write a Program to print numbers

1
2 3
4 5 6
7 8 9 10


### Print the list of tuples containing (2,4,8) ie (number, square of a number, cube of a number) till 50
### Write a program to skip weekends in a work scheduler

In [5]:
### Write a Program to print numbers
n=1
row=4
for  i in range(1,row+1):
    for j in range(i):
        print(n,end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [6]:
row=5
for i in range(row):
    for j in range(i+1):
        print(n,end=" ")
        n+=1
    print()

11
12 13
14 15 16
17 18 19 20
21 22 23 24 25

In [8]:
# Print the list of tuples containing (2,4,8) ie (number, square of a number, cube of a number) till 50
numbers=[(i,i**2,i**3)for i in range(1,51)]
print(numbers)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000), (11, 121, 1331), (12, 144, 1728), (13, 169, 2197), (14, 196, 2744), (15, 225, 3375), (16, 256, 4096), (17, 289, 4913), (18, 324, 5832), (19, 361, 6859), (20, 400, 8000), (21, 441, 9261), (22, 484, 10648), (23, 529, 12167), (24, 576, 13824), (25, 625, 15625), (26, 676, 17576), (27, 729, 19683), (28, 784, 21952), (29, 841, 24389), (30, 900, 27000), (31, 961, 29791), (32, 1024, 32768), (33, 1089, 35937), (34, 1156, 39304), (35, 1225, 42875), (36, 1296, 46656), (37, 1369, 50653), (38, 1444, 54872), (39, 1521, 59319), (40, 1600, 64000), (41, 1681, 68921), (42, 1764, 74088), (43, 1849, 79507), (44, 1936, 85184), (45, 2025, 91125), (46, 2116, 97336), (47, 2209, 103823), (48, 2304, 110592), (49, 2401, 117649), (50, 2500, 125000)]

In [1]:
# Print the list of tuples containing (2,4,8) ie (number, squareof a number, cube of a number) till 50
num = []
for i in range(1,51):
    num.append((i, i**2, i**3))
print(num)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000), (11, 121, 1331), (12, 144, 1728), (13, 169, 2197), (14, 196, 2744), (15, 225, 3375), (16, 256, 4096), (17, 289, 4913), (18, 324, 5832), (19, 361, 6859), (20, 400, 8000), (21, 441, 9261), (22, 484, 10648), (23, 529, 12167), (24, 576, 13824), (25, 625, 15625), (26, 676, 17576), (27, 729, 19683), (28, 784, 21952), (29, 841, 24389), (30, 900, 27000), (31, 961, 29791), (32, 1024, 32768), (33, 1089, 35937), (34, 1156, 39304), (35, 1225, 42875), (36, 1296, 46656), (37, 1369, 50653), (38, 1444, 54872), (39, 1521, 59319), (40, 1600, 64000), (41, 1681, 68921), (42, 1764, 74088), (43, 1849, 79507), (44, 1936, 85184), (45, 2025, 91125), (46, 2116, 97336), (47, 2209, 103823), (48, 2304, 110592), (49, 2401, 117649), (50, 2500, 125000)]

In [2]:
#Write a program to skip weekends in a work scheduler
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for day in days:
    if day in ["Sat", "Sun"]:
        continue
    print("Working on", day)

Working on Mon
Working on Tue
Working on Wed
Working on Thu
Working on Fri