In [ ]:
Tuple:tuple items are ordered,unchangeable,and allow duplicates values.
-ordered:items have defined order,and order will not change
-unchangeable:cannot change,add,remove items after tuple is created
-tuples items can be any data type.
-Represented by()

In [18]:
#Creating an empty tuple
tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [19]:
sample=(1,2,3.5,"apple",True,1,3.5)
print(sample)
print(type(sample))

(1, 2, 3.5, 'apple', True, 1, 3.5)
<class 'tuple'>

In [7]:
#Access the element of the tuple
sample=(1,2,3.5,"apple",True,1,3.5)
print(sample[2])
print(sample[4])
print(sample[-1])

3.5
True
3.5

In [8]:
num=[1,2,3,4]    #list
num[1]=5  #Assignment possible in the list not in tuple
print(num)

[1, 5, 3, 4]

In [9]:
num=(1,2,3,4)
num[1]=7   #'tuple' object does not support item assignment
print(num)

TypeError: 'tuple' object does not support item assignment

In [30]:
#slicing in tuple
data=(1,2,3,4,4.5,"Rasika","shruti")
print(data[2:5])
print(data[-4:-1])
print(data[-3:])
print(data[0:7:2])
print(data[::-1])

(3, 4, 4.5)
(4, 4.5, 'Rasika')
(4.5, 'Rasika', 'shruti')
(1, 3, 4.5, 'shruti')
('shruti', 'Rasika', 4.5, 4, 3, 2, 1)

In [17]:
#without using parenthesis() we can create tuple
t=1,2,3,4,5
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [24]:
#Nesting of tuple
var1=(10,20,30)
print(var1)

var2=(var1,40)
print(var2)

var3=(var1,var2,80,90)
print(var3)

(10, 20, 30)
((10, 20, 30), 40)
((10, 20, 30), ((10, 20, 30), 40), 80, 90)

In [29]:
#accessing elements using indexing
print(var3[1][1])
print(var3[1][0][2])
print(var2[0][2])
print(var3[0][0])

40
30
30
10

In [2]:
#deleting tuple
city=("pune","Mumbai","satara")
print(city)
del(city)   #delete the tuple
print(city)  #Error:name 'city' is not defined

('pune', 'Mumbai', 'satara')

NameError: name 'city' is not defined

-Once a tuple is created, you cannot change its values. 
-Tuples are unchangeable, or immutable
-But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [38]:
#typecast tuple to the list and back to tuple
x=("apple","orange","cherry")
print(x)
print(type(x))
y=list(x)  #tuple convert into list
print(y)
print(type(y))

y[1]="mango"  #item assignment
print(y)

x=tuple(y)  #list convert into tuple
print(x)

('apple', 'orange', 'cherry')
<class 'tuple'>
['apple', 'orange', 'cherry']
<class 'list'>
['apple', 'mango', 'cherry']
('apple', 'mango', 'cherry')

In [41]:
t = ('a', 'b', 'c')
print(t)
print(type(t))
temp = list(t)  #convert tuple into list
temp.append('d')  # Add element
print(temp)
t = tuple(temp)  #convert list into tuple
print(t)  # Output: ('a', 'b', 'c', 'd')

('a', 'b', 'c')
<class 'tuple'>
['a', 'b', 'c', 'd']
('a', 'b', 'c', 'd')

In [44]:
#use of zip() and list of tuples
names=["Rasika","pranali","Shruti"]
age=[21,22,23]
zip(names,age)

info=list(zip(names,age))
print(info)

[('Rasika', 21), ('pranali', 22), ('Shruti', 23)]