In [1]:
# Creating a variable and assigning a string value
#Type()-Returns the type of object passed to it
name="Rasika"
print(name)
print(type(name))

Rasika
<class 'str'>

In [2]:
age=22
print(age)
print(type(age))

22
<class 'int'>

In [3]:
# Creating a variable and assigning a float value
price=22.76
print(price)
print(type(price))

22.76
<class 'float'>

In [4]:
check_value=True
print(type(check_value))

<class 'bool'>

In [5]:
# Creating a variable and assigning a list value
my_list=[1,2,3,4,5]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [6]:
x=None
print(x)
print(type(x))

None
<class 'NoneType'>

In [8]:
#create a variable and assing an integer value
c=5
A=10
B=20
print(c,A,B)

5 10 20

In [9]:
z=2+3j
print(z)
print(type(z))

(2+3j)
<class 'complex'>

In [3]:
#Type casting:Converting one data type into another
x=2.3   #float
y=int(x)  #convert into integer
print(y)
print(type(x))
print(type(y))

2
<class 'float'>
<class 'int'>

In [5]:
#int()-convert to integer
x=int(3.7)    # 3 float to int
y=int("10")   #10 string to int
print(x)
print(y)
print(type(x))
print(type(y))

3
10
<class 'int'>
<class 'int'>

In [7]:
#float()-convert to float
x=float(5)   #5.0
y=float("2.5")    #2.5
z=float('2')
print(z)    #2.0
print(type(z))
print(x)
print(y)
print(type(x))
print(type(y))

2.0
<class 'float'>
5.0
2.5
<class 'float'>
<class 'float'>

In [8]:
#str()-convert to string
x=str(25)
y=str(3.14)
print(x)
print(y)
print(type(x))
print(type(y))

25
3.14
<class 'str'>
<class 'str'>

In [13]:
#bool()-convert to boolean
bool(0)
print(bool(0))      # False

bool(1)
print(bool(1))      #True

print(bool(""))      #False
print(bool("Hello"))  #True
print(bool(" "))      #True

False
True
False
True
True

In [15]:
#int(),float(),string() type conversion to complex
x=complex(5)
print(x)

y=complex(2.5)
print(y)

z=complex("3+4j")
print(z)

print(type(x))
print(type(y))
print(type(z))

(5+0j)
(2.5+0j)
(3+4j)
<class 'complex'>
<class 'complex'>
<class 'complex'>