# while loop

In python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

#### Syntax :

while expression:
	statement(s)

In [ ]:
i = 1
while i < 6:
  print(i)
  i = i + 1 # i+= 1

1
2
3
4
5

In [ ]:
total = 0
num = int(input("enter a number(0 to stop:)"))
while num != 0:
  total += num  # total = total + num
  num = int(input("enter a number to (0 to stop: "))

print("Total: ", total)

enter a number(0 to stop:)20
enter a number to (0 to stop: 0
Total:  20

### nested while loop

while loop inside a while loop

In [ ]:
i = 1
while i <= 3: # outer while loop
  j = 1
  while j <= 3:   # inner while loop
    print(f"i={i}, j={j}")
    j += 1
  i += 1

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

# Loop control statements

There are three loop control statements:

# ● break:

Terminates the loop if a specific condition is met.

# ● continue:

Skips one iteration of the loop if a specified condition is met, and continues with the next iteration. The difference between continue and break is that the break keyword will “jump out” of the loop, but continue will “jump over” one cycle of the loop.

# ● pass:

When you don’t want any command or code to execute.

## use of break, continue and pass

In [ ]:
# use of break with while loop
i = 1
while i <=10:
  if i == 5:
    break
  print(i)
  i += 1

1
2
3
4

In [ ]:
# use of continue
i = 0
while i < 5:
   i += 1
   if ((i == 3) or (i == 4)):
    continue   # skip
   print(i)

1
2
5

In [ ]:
# use of pass
i = 0
while i < 3:
  if i == 1:
    pass  # placeholder for future code  do nothing
  print(i)
  i += 1

0
1
2

In [ ]:
# without passs you get an indentation error

# Pattern Printing

In [ ]:
rows = 5
for i in range(rows):   # i = 0,1,2,3,4
    for j in range(i + 1): # 0 + 1=1, 1 + 1=2----5
        print("*", end=" ")     #end =""--->not to move to the next line, and instead keep printing on the same line
    print()          #Moves the cursor to the next line after each row is printed.

*
* *
* * *
* * * *
* * * * *

In [ ]:
rows = 5
for i in range(rows, 0, -1): # 5, 4
    for j in range(i): #5, 4
        print("*", end =" ")   #end =""--->not to move to the next line, and instead keep printing on the same line
    print()               #Moves the cursor to the next line after each row is printed.

* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = 5
for i in range(rows): #0,1,2,3,4
    # print spaces before the star
    for j in range(rows-i-1): # j --- 5-0-1= 4
        print(" ", end = "" )
        #print the stars
    for j in range(2*i + 1): # i =0 j --- 2*0 + 1 = 1
        print("*", end = "")  #end =""--->not to move to the next line, and instead keep printing on the same line
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
rows = 5

# Upper half
for i in range(rows):
    # Print spaces before stars
    for j in range(rows - i - 1):
        print(" ", end="")  # <-- changed "*" to " "
    # Print stars
    for j in range(2 * i + 1):
        print("*", end="")
    print()

# Lower half
for i in range(rows - 1, -1, -1):
    # Print spaces before stars
    for j in range(rows - i - 1):
        print(" ", end="")  # <-- changed "*" to " "
    # Print stars
    for j in range(2 * i + 1):
        print("*", end="")
    print()

In [ ]:
# print odd number
for i in range(1, 21):
    if i % 2 != 0:
        print(i, end=' ')

In [ ]:
# print even number
for i in range(1, 21):
    if i % 2 == 0:
        print(i, end=' ')

In [ ]:
# take user input and check whether a number is prime or not
num = int(input("Enter a number: "))

if num < 2:
    print("Not a prime number")
else:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number: 20
Not a prime number

In [ ]:
# take a list of 10 elements and check if "i" is present in the name then print it
names = ["Azad", "ravi", "samiksha", "Kamal", "Nikita", "Amit", "Divya"]

for name in names:
    if 'i' in name.lower():
        print(name)

ravi
samiksha
Nikita
Amit
Divya

In [ ]:
# Today's Task

### Write a Program to print numbers

1
2 3
4 5 6
7 8 9 10


### Print the list of tuples containing (2,4,8) ie (number, square of a number, cube of a number) till 50
### Write a program to skip weekends in a work scheduler